---
name: Lint for AWS CloudFormation
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      use-yamllint:
        required: false
        type: boolean
        description: Whether to use yamllint
        default: true
      yamllint-config-data:
        required: false
        type: string
        description: Configuration data for yamllint
        default: '{"extends": "relaxed", "rules": {"line-length": "disable"}}'
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  cloudformation-lint:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install cfn-lint and yamllint
        run: >
          pip install -U --no-cache-dir cfn-lint
      - name: Execute cfn-lint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.cfn.yml' -o -name '*.cfn.yaml' \) -print0
          | xargs -0 -t cfn-lint
  yaml-lint:
    if: inputs.use-yamllint
    uses: ./.github/workflows/yaml-lint.yml
    with:
      search-path: ${{ inputs.search-path }}
      python-version: ${{ inputs.python-version }}
      yamllint-config-data: ${{ inputs.yamllint-config-data }}
