---
name: Lint for AWS CloudFormation
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      use-yamllint:
        required: false
        type: boolean
        description: Whether to use yamllint
        default: true
      yamllint-config-data:
        required: false
        type: string
        description: Configuration data for yamllint
        default: '{"extends": "relaxed", "rules": {"line-length": "disable"}}'
      use-checkov:
        required: false
        type: boolean
        description: Use Checkov to scan CloudFormation files
        default: true
      checkov-framework:
        required: false
        type: string
        description: Checkov frameworks to scan
        default: cloudformation
      checkov-skip-framework:
        required: false
        type: string
        description: Checkov frameworks to skip
        default: null
      checkov-check:
        required: false
        type: string
        description: Checkov checks to include
        default: null
      checkov-skip-check:
        required: false
        type: string
        description: Checkov checks to skip
        default: null
      checkov-config-file:
        required: false
        type: string
        description: Path to a Checkov config file
        default: null
      checkov-output:
        required: false
        type: string
        description: Checkov output formats
        default: cli
      checkov-output-file-path:
        required: false
        type: string
        description: Checkov output file path(s)
        default: null
      checkov-soft-fail:
        required: false
        type: boolean
        description: Always return exit code 0 from Checkov
        default: false
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
    secrets:
      BC_API_KEY:
        required: false
        description: Bridgecrew or Prisma Cloud API key
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  cloudformation-lint:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install cfn-lint and yamllint
        run: >
          pip install -U --no-cache-dir cfn-lint
      - name: Execute cfn-lint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.cfn.yml' -o -name '*.cfn.yaml' \) -print0
          | xargs -0 -t cfn-lint
  yaml-lint:
    if: inputs.use-yamllint
    uses: ./.github/workflows/yaml-lint.yml
    with:
      search-path: ${{ inputs.search-path }}
      python-version: ${{ inputs.python-version }}
      yamllint-config-data: ${{ inputs.yamllint-config-data }}
  checkov-scan:
    if: inputs.use-checkov
    uses: ./.github/workflows/checkov-scan.yml
    with:
      scan-directory: ${{ inputs.search-path }}
      framework: ${{ inputs.checkov-framework }}
      skip-framework: ${{ inputs.checkov-skip-framework }}
      check: ${{ inputs.checkov-check }}
      skip-check: ${{ inputs.checkov-skip-check }}
      config-file: ${{ inputs.checkov-config-file }}
      output: ${{ inputs.checkov-output }}
      output-file-path: ${{ inputs.checkov-output-file-path }}
      soft-fail: ${{ inputs.checkov-soft-fail }}
      runs-on: ${{ inputs.runs-on }}
    secrets:
      BC_API_KEY: ${{ secrets.BC_API_KEY }}
