---
name: Lint and security scan for Dockerfile
on:
  workflow_call:
    inputs:
      hadolint-dockerfile:
        required: false
        type: string
        description: Dockerfile name to lint
        default: Dockerfile
      hadolint-failure-threshold:
        required: false
        type: string
        description: Hadolint failure threshold
        default: error
      hadolint-recursive:
        required: false
        type: boolean
        description: Search for Dockerfile recursively from the project root
        default: true
      trivy-scan-ref:
        required: false
        type: string
        description: Scan reference
        default: .
      trivy-scanners:
        required: false
        type: string
        description: List of scanners to use
        default: vuln,secret,misconfig
      trivy-severity:
        required: false
        type: string
        description: Severity levels to fail the scan
        default: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
      trivy-ignore-unfixed:
        required: false
        type: boolean
        description: Ignore unpatched/unfixed vulnerabilities
        default: true
      trivy-exit-code:
        required: false
        type: number
        description: Exit code for pre-build scan
        default: 1
      trivy-config:
        required: false
        type: string
        description: Path to a Trivy config file
        default: null
      trivy-timeout:
        required: false
        type: string
        description: Timeout for the Trivy scan
        default: 5m0s
      use-checkov:
        required: false
        type: boolean
        description: Use Checkov to scan Dockerfiles
        default: true
      checkov-framework:
        required: false
        type: string
        description: Checkov frameworks to scan
        default: dockerfile
      checkov-skip-framework:
        required: false
        type: string
        description: Checkov frameworks to skip
        default: null
      checkov-check:
        required: false
        type: string
        description: Checkov checks to include
        default: null
      checkov-skip-check:
        required: false
        type: string
        description: Checkov checks to skip
        default: null
      checkov-config-file:
        required: false
        type: string
        description: Path to a Checkov config file
        default: null
      checkov-output-format:
        required: false
        type: string
        description: Checkov output formats
        default: github_failed_only
      checkov-output-file-path:
        required: false
        type: string
        description: Checkov output file path(s)
        default: null
      checkov-soft-fail:
        required: false
        type: boolean
        description: Always return exit code 0 from Checkov
        default: false
      runs-on:
        required: false
        type: string
        description: GitHub Actions runner to use
        default: ubuntu-latest
    secrets:
      GH_TOKEN:
        required: false
        description: GitHub token
      BC_API_KEY:
        required: false
        description: Bridgecrew or Prisma Cloud API key
permissions:
  contents: write
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint-and-scan:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Lint the code using hadolint
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5  # v3.3.0
        with:
          dockerfile: ${{ inputs.hadolint-dockerfile }}
          failure-threshold: ${{ inputs.hadolint-failure-threshold }}
          recursive: ${{ inputs.hadolint-recursive }}
      - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8  # 0.33.1
        with:
          scan-type: filesystem
          scan-ref: ${{ inputs.trivy-scan-ref }}
          scanners: ${{ inputs.trivy-scanners }}
          severity: ${{ inputs.trivy-severity }}
          ignore-unfixed: ${{ inputs.trivy-ignore-unfixed }}
          exit-code: ${{ inputs.trivy-exit-code }}
          trivy-config: ${{ inputs.trivy-config }}
          timeout: ${{ inputs.trivy-timeout }}
          format: github
          output: dependency-results.sbom.json
          github-pat: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
        env:
          TRIVY_CHECKS_REPOSITORY: public.ecr.aws/aquasecurity/trivy-checks
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db
          TRIVY_JAVA_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-java-db
      - name: Run Checkov
        if: inputs.use-checkov
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd  # v12.3077.0
        with:
          directory: ${{ inputs.trivy-scan-ref }}
          framework: ${{ inputs.checkov-framework }}
          skip_framework: ${{ inputs.checkov-skip-framework }}
          check: ${{ inputs.checkov-check }}
          skip_check: ${{ inputs.checkov-skip-check }}
          config_file: ${{ inputs.checkov-config-file }}
          output_format: ${{ inputs.checkov-output-format }}
          output_file_path: ${{ inputs.checkov-output-file-path }}
          soft_fail: ${{ inputs.checkov-soft-fail }}
          api-key: ${{ secrets.BC_API_KEY }}
