---
name: Lint and security scan for GitHub Actions workflows
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .github/workflows
      go-version:
        required: false
        type: string
        description: Go version to use
        default: stable
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      use-shellcheck:
        required: false
        type: boolean
        description: Whether to use ShellCheck
        default: true
      use-pyflakes:
        required: false
        type: boolean
        description: Whether to use pyflakes
        default: true
      use-yamllint:
        required: false
        type: boolean
        description: Whether to use yamllint
        default: true
      yamllint-config-data:
        required: false
        type: string
        description: Configuration data for yamllint
        default: '{"extends": "relaxed", "rules": {"line-length": "disable"}}'
      use-checkov:
        required: false
        type: boolean
        description: Use Checkov to scan GitHub Actions workflows
        default: true
      checkov-framework:
        required: false
        type: string
        description: Checkov frameworks to scan
        default: github_actions,github_configuration
      checkov-skip-framework:
        required: false
        type: string
        description: Checkov frameworks to skip
        default: null
      checkov-check:
        required: false
        type: string
        description: Checkov checks to include
        default: null
      checkov-skip-check:
        required: false
        type: string
        description: Checkov checks to skip
        default: null
      checkov-config-file:
        required: false
        type: string
        description: Path to a Checkov config file
        default: null
      checkov-output-format:
        required: false
        type: string
        description: Checkov output formats
        default: github_failed_only
      checkov-output-file-path:
        required: false
        type: string
        description: Checkov output file path(s)
        default: null
      checkov-soft-fail:
        required: false
        type: boolean
        description: Always return exit code 0 from Checkov
        default: false
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
    secrets:
      BC_API_KEY:
        required: false
        description: Bridgecrew or Prisma Cloud API key
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  github-actions-lint-scan:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install actionlint
        run: |
          curl -sSL -o /tmp/download-actionlint.bash \
            https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash /tmp/download-actionlint.bash latest /usr/local/bin
      - name: Install ShellCheck
        if: inputs.use-shellcheck
        run: |
          sudo apt-get -y update
          sudo apt-get -y install --no-install-recommends --no-install-suggests shellcheck
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install pyflakes
        if: inputs.use-pyflakes
        run: >
          pip install -U --no-cache-dir pyflakes
      - name: Execute actionlint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.yml' -o -name '*.yaml' \) -print0 | xargs -0 -t actionlint
      - name: Install zizmor
        run: >
          pip install -U --no-cache-dir zizmor
      - name: Execute zizmor
        working-directory: ${{ inputs.search-path }}
        run: >
          zizmor "${PWD}"
      - name: Run Checkov
        if: inputs.use-checkov
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd  # v12
        with:
          directory: ${{ inputs.search-path }}
          framework: ${{ inputs.checkov-framework }}
          skip_framework: ${{ inputs.checkov-skip-framework }}
          check: ${{ inputs.checkov-check }}
          skip_check: ${{ inputs.checkov-skip-check }}
          config_file: ${{ inputs.checkov-config-file }}
          output_format: ${{ inputs.checkov-output-format }}
          output_file_path: ${{ inputs.checkov-output-file-path }}
          soft_fail: ${{ inputs.checkov-soft-fail }}
          api-key: ${{ secrets.BC_API_KEY }}
  yaml-lint:
    if: inputs.use-yamllint
    uses: ./.github/workflows/yaml-lint.yml
    with:
      search-path: ${{ inputs.search-path }}
      python-version: ${{ inputs.python-version }}
      yamllint-config-data: ${{ inputs.yamllint-config-data }}
