---
name: Lint for JSON
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      node-version:
        required: false
        type: string
        description: Node.js version to use
        default: latest
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install jsonlint
        run: |
          npm install -g jsonlint
      - name: Execute jsonlint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f -name '*.json' -print0 | xargs -0 -t jsonlint --quiet
