---
name: Schema validation for JSON
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      schema-file-name:
        required: false
        type: string
        description: JSON schema file name
        default: '*.schema.json'
      relative-path-from-schema-directory-to-data-files:
        required: false
        type: string
        description: Relative path from JSON schema directory to JSON data directory
        default: ./*.data.json
      node-version:
        required: false
        type: string
        description: Node.js version to use
        default: latest
      lint-before-validation:
        required: false
        type: boolean
        description: Whether to lint JSON files before validation
        default: true
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-slim
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    if: inputs.lint-before-validation
    uses: ./.github/workflows/json-lint.yml
    with:
      search-path: ${{ inputs.search-path }}
      node-version: ${{ inputs.node-version }}
  validation:
    if: (! (failure() || cancelled()))
    needs:
      - lint
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install ajv-cli
        run: >
          npm install -g ajv-cli
      - name: Validate JSON files using ajv-cli
        env:
          SCHEMA_FILE_NAME: ${{ inputs.schema-file-name }}
          RELATIVE_PATH_FROM_SCHEMA_DIRECTORY_TO_DATA_FILES: ${{ inputs.relative-path-from-schema-directory-to-data-files }}
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -name "${SCHEMA_FILE_NAME}" -print0
          | xargs -0 -I{} -t bash -c
          "cd \"\$(dirname {})\" && ajv validate -s \"\$(basename {})\" -d '${RELATIVE_PATH_FROM_SCHEMA_DIRECTORY_TO_DATA_FILES}'"
