---
name: Microsoft Defender for Devops
on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
        description: .NET version to use
        default: 6.0.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: windows-latest
permissions:
  contents: read
  security-events: write
jobs:
  msdo:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309  # v5.1.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Run Microsoft Security DevOps
        uses: microsoft/security-devops-action@08976cb623803b1b36d7112d4ff9f59eae704de0  # v1.12.0
        id: msdo
      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89  # v4.31.10
        with:
          sarif_file: ${{ steps.msdo.outputs.sarifFile }}
