---
name: Microsoft Defender for Devops
on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
        description: .NET version to use
        default: 6.0.x
jobs:
  msdo:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d  # v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Run Microsoft Security DevOps
        uses: microsoft/security-devops-action@08976cb623803b1b36d7112d4ff9f59eae704de0  # v1.12.0
        id: msdo
      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee  # v3.29.5
        with:
          sarif_file: ${{ steps.msdo.outputs.sarifFile }}
