---
name: Microsoft Defender for Devops
on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
        description: .NET version to use
        default: 6.0.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: windows-latest
jobs:
  msdo:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602  # v5.0.1
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Run Microsoft Security DevOps
        uses: microsoft/security-devops-action@08976cb623803b1b36d7112d4ff9f59eae704de0  # v1.12.0
        id: msdo
      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7  # v3.29.5
        with:
          sarif_file: ${{ steps.msdo.outputs.sarifFile }}
