---
name: PR-agent
on:
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  #     - ready_for_review
  # issue_comment:
  #   types:
  #     - created
  #     - edited
  #     - deleted
  workflow_call:
    inputs:
      model:
        required: true
        type: string
        description: Model to use for the API
      model-turbo:
        required: false
        type: string
        description: Turbo model to use for the API
        default: null
      fallback-models:
        required: false
        type: string
        description: Fallback models to use for the API
        default: null
      max-description-tokens:
        required: false
        type: number
        description: Maximum number of tokens for description
        default: 200000
      max-commits-tokens:
        required: false
        type: number
        description: Maximum number of tokens for commits
        default: 200000
      max-model-tokens:
        required: false
        type: number
        description: Maximum number of tokens for model
        default: 200000
      auto-describe:
        required: false
        type: boolean
        description: Automatically describe the pull request
        default: true
      auto-review:
        required: false
        type: boolean
        description: Automatically review the pull request
        default: true
      auto-improve:
        required: false
        type: boolean
        description: Automatically improve the pull request
        default: true
      pr-description-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request description
        default: null
      pr-reviewer-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request reviewer
        default: null
      pr-code-suggestions-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request code suggestions
        default: null
      pr-update-changelog-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request update changelog
        default: null
      openai-api-type:
        required: false
        type: string
        description: Type for OpenAI API
        default: null
      openai-api-base:
        required: false
        type: string
        description: Base URL for OpenAI API
        default: null
      openai-api-version:
        required: false
        type: string
        description: Version for OpenAI API
        default: null
      openai-deployment-id:
        required: false
        type: string
        description: Deployment ID for OpenAI API
        default: null
      aws-iam-role-to-assume:
        required: false
        type: string
        description: AWS IAM role ARN to assume
        default: null
      aws-region:
        required: false
        type: string
        description: AWS region to use
        default: us-east-1
      aws-profile-env-file:
        required: false
        type: string
        description: Path to the file containing the AWS profile environment variables
        default: null
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
    secrets:
      OPENAI_API_KEY:
        required: false
        description: OpenAI API key
      OPENAI_ORGANIZATION:
        required: false
        description: OpenAI organization
      GROQ_API_KEY:
        required: false
        description: Groq API key
      GH_TOKEN:
        required: false
        description: GitHub token
permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write
jobs:
  pr-agent:
    if: >
      github.event.sender.type != 'Bot'
      && (
        github.event_name == 'pull_request'
        || github.event_name == 'issue_comment'
      )
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        if: inputs.aws-profile-env-file != null
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Read AWS profile environment file
        if: inputs.aws-profile-env-file != null
        id: aws-profile-env
        env:
          AWS_PROFILE_ENV_FILE: ${{ inputs.aws-profile-env-file }}
        run: |
          cat "${AWS_PROFILE_ENV_FILE}" >> "${GITHUB_OUTPUT}"
      - name: Configure AWS credentials
        if: >
          inputs.aws-profile-env-file != null
          || (
            inputs.aws-iam-role-to-assume != null && steps.aws-profile-env.outputs.ROLE_ARN == null
          )
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
        with:
          role-to-assume: ${{ inputs.aws-iam-role-to-assume || steps.aws-profile-env.outputs.ROLE_ARN || null }}
          aws-region: ${{ inputs.aws-region || steps.aws-profile-env.outputs.REGION || null }}
          role-session-name: github-actions-${{ github.run_id }}
      - name: Run PR-agent
        uses: qodo-ai/pr-agent@d36ad319f7fb0049205017405a71275c41599587  # v0.31
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          CONFIG.AUTO_DESCRIBE: ${{ inputs.auto-describe || 'true' }}
          CONFIG.AUTO_REVIEW: ${{ inputs.auto-review || 'true' }}
          CONFIG.AUTO_IMPROVE: ${{ inputs.auto-improve || 'true' }}
          CONFIG.MODEL: ${{ inputs.model }}
          CONFIG.MODEL_TURBO: ${{ inputs.model-turbo || inputs.model }}
          CONFIG.FALLBACK_MODELS: ${{ inputs.fallback-models || inputs.model }}
          CONFIG.MAX_DESCRIPTION_TOKENS: ${{ inputs.max-description-tokens }}
          CONFIG.MAX_COMMITS_TOKENS: ${{ inputs.max-commits-tokens }}
          CONFIG.MAX_MODEL_TOKENS: ${{ inputs.max-model-tokens }}
          CONFIG.CUSTOM_MODEL_MAX_TOKENS: ${{ inputs.max-model-tokens }}
          PR_DESCRIPTION.EXTRA_INSTRUCTIONS: ${{ inputs.pr-description-extra-instructions }}
          PR_REVIEWER.EXTRA_INSTRUCTIONS: ${{ inputs.pr-reviewer-extra-instructions }}
          PR_CODE_SUGGESTIONS.EXTRA_INSTRUCTIONS: ${{ inputs.pr-code-suggestions-extra-instructions }}
          PR_UPDATE_CHANGELOG.EXTRA_INSTRUCTIONS: ${{ inputs.pr-update-changelog-extra-instructions }}
          GROQ.KEY: ${{ secrets.GROQ_API_KEY }}
          OPENAI.API_TYPE: ${{ inputs.openai-api-type }}
          OPENAI.API_BASE: ${{ inputs.openai-api-base }}
          OPENAI.API_VERSION: ${{ inputs.openai-api-version }}
          OPENAI.DEPLOYMENT_ID: ${{ inputs.openai-deployment-id }}
          OPENAI.ORG: ${{ secrets.OPENAI_ORGANIZATION }}
          OPENAI.KEY: ${{ secrets.OPENAI_API_KEY }}
