---
name: Test for Python Package
on:
  workflow_call:
    inputs:
      package-path:
        required: false
        type: string
        description: Path to a Python package or project
        default: .
      python-version:
        required: false
        type: string
        description: Python version to use (not applicable if uv.lock is present)
        default: 3.x
      uv-version:
        required: false
        type: string
        description: Version of uv to use (applicable only if uv.lock is present)
        default: latest
      additional-python-packages:
        required: false
        type: string
        description: Additional Python packages to install
        default: null
      requirements-txt:
        required: false
        type: string
        description: Path to the requirements.txt file (not applicable if uv.lock is present)
        default: null
      runs-on:
        required: false
        type: string
        description: GitHub Actions runner to use
        default: ubuntu-latest
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  test:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false
      - name: Detect uv.lock or poetry.lock
        id: detect-lock-file
        working-directory: ${{ inputs.package-path }}
        run: |
          if [[ -f uv.lock ]]; then
            echo "lock_file=uv.lock" >> "${GITHUB_OUTPUT}"
          elif [[ -f poetry.lock ]]; then
            echo "lock_file=poetry.lock" >> "${GITHUB_OUTPUT}"
          else
            echo "lock_file=" >> "${GITHUB_OUTPUT}"
          fi
      - name: Set up uv
        if: steps.detect-lock-file.outputs.lock_file == 'uv.lock'
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: ${{ inputs.uv-version }}
      - name: Install packages using uv
        if: steps.detect-lock-file.outputs.lock_file == 'uv.lock'
        working-directory: ${{ inputs.package-path }}
        env:
          INPUTS_ADDITIONAL_PYTHON_PACKAGES: ${{ inputs.additional-python-packages }}
        run: |
          uv sync --all-groups
          for p in $(echo "${INPUTS_ADDITIONAL_PYTHON_PACKAGES}" | tr ' ' '\n'); do
            if [[ -n "${p}" ]]; then
              uv add --dev "${p}"
            fi
          done
          echo "EXECUTOR=uv run --directory ${PWD}" | tee -a "${GITHUB_ENV}"
      - name: Set up Python
        if: steps.detect-lock-file.outputs.lock_file != 'uv.lock'
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install packages
        if: steps.detect-lock-file.outputs.lock_file != 'uv.lock'
        env:
          LOCK_FILE: ${{ steps.detect-lock-file.outputs.lock_file }}
          ADDITIONAL_PYTHON_PACKAGES: ${{ inputs.additional-python-packages }}
          REQUIREMENTS_TXT_PATH: ${{ inputs.requirements-txt }}
        working-directory: ${{ inputs.package-path }}
        run: |
          pip install -U --no-cache-dir pip
          if [[ -n "${REQUIREMENTS_TXT_PATH}" ]]; then
            pip install -U --no-cache-dir -r "${REQUIREMENTS_TXT_PATH}"
          fi
          if [[ "${LOCK_FILE}" == "poetry.lock" ]]; then
            pip install --no-cache-dir poetry
            poetry lock --no-interaction
            for p in $(echo "${ADDITIONAL_PYTHON_PACKAGES}" | tr ' ' '\n'); do
              if [[ -n "${p}" ]]; then
                poetry add --group=dev --no-interaction "${p}"
              fi
            done
            poetry install --no-interaction --no-root
            echo "EXECUTOR=poetry run -C ${PWD}" | tee -a "${GITHUB_ENV}"
          else
            for p in $(echo "${ADDITIONAL_PYTHON_PACKAGES}" | tr ' ' '\n'); do
              if [[ -n "${p}" ]]; then
                pip install --no-cache-dir "${p}"
              fi
            done
            echo "EXECUTOR=" | tee -a "${GITHUB_ENV}"
          fi
      - name: Run tests with pytest
        working-directory: ${{ inputs.package-path }}
        run: >  # zizmor: ignore[template-injection]
          ${{ env.EXECUTOR }} pytest
