---
name: Lint for R
on:
  workflow_call:
    inputs:
      package-path:
        required: false
        type: string
        description: Path to an R package or project
        default: .
      r-version:
        required: false
        type: string
        description: R version to use
        default: release
      runs-on:
        required: false
        type: string
        description: Type of machine to run the job on
        default: ubuntu-slim
      r-libs-user:
        required: false
        type: string
        description: R library path
        default: /usr/local/lib/R/site-library
      lint-package:
        required: false
        type: boolean
        description: Run package lint
        default: true
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ${{ inputs.runs-on }}
    env:
      GITHUB_PAT: ${{ secrets.PAT }}
      R_LIBS_USER: ${{ inputs.r-libs-user }}
      LINTR_ERROR_ON_LINT: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Set up R
        uses: r-lib/actions/setup-r@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590  # v2.11.4
        with:
          r-version: ${{ inputs.r-version }}
          use-public-rspm: true
      - name: Install lintr and packages declared in DESCRIPTION
        if: inputs.lint-package
        uses: r-lib/actions/setup-r-dependencies@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590  # v2.11.4
        with:
          extra-packages: any::lintr, local::.
      - name: Install lintr
        if: (! inputs.lint-package)
        shell: Rscript {0}
        run: |
          install.packages(pkgs = 'lintr', dependencies = TRUE, clean = TRUE)
      - name: Lint the code using lintr::lint_package()
        if: inputs.lint-package
        shell: Rscript {0}
        env:
          PACKAGE_PATH: ${{ inputs.package-path }}
        run: |
          lintr::lint_package(path = Sys.getenv('PACKAGE_PATH'))
      - name: Lint the code using lintr::lint_dir()
        if: (! inputs.lint-package)
        shell: Rscript {0}
        env:
          PACKAGE_PATH: ${{ inputs.package-path }}
        run: |
          lintr::lint_dir(path = Sys.getenv('PACKAGE_PATH'))
