---
name: Lint for Shell
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install ShellCheck
        run: |
          sudo apt-get -y update
          sudo apt-get -y install --no-install-recommends --no-install-suggests shellcheck
      - name: Execute shellcheck
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.sh' -o -name '*.bash' -o -name '*.bats' \) -print0
          | xargs -0 -t shellcheck --external-sources
