---
name: Upgrade of Terraform lock files
on:
  workflow_call:
    inputs:
      terraform-working-directories:
        required: false
        type: string
        description: Terraform working directories (separated by spaces or returns)
        default: .
      terraform-working-directory-to-version-tf-json:
        required: false
        type: string
        description: JSON object with Terraform working directories as keys and Terraform version files as values
        default: null
      terragrunt-working-directories:
        required: false
        type: string
        description: Terragrunt working directories (separated by spaces or returns)
        default: null
      terraform-version:
        required: false
        type: string
        description: Terraform version to use
        default: latest
      terragrunt-version:
        required: false
        type: string
        description: Terragrunt version to use
        default: latest
      create-pr:
        required: false
        type: boolean
        description: Create a pull request instead of committing directly
        default: false
      runs-on:
        required: false
        type: string
        description: GitHub Actions runner to use
        default: ubuntu-latest
    secrets:
      GH_TOKEN:
        required: false
        description: GitHub token
permissions:
  contents: write
  pull-requests: write
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  upgrade-and-commit:
    runs-on: ${{ inputs.runs-on }}
    env:
      COMMIT_MESSAGE: Upgrade Terraform lock files
      TERRAFORM_LOCK_FILE: .terraform.lock.hcl
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1
          ref: ${{ github.head_ref || github.ref_name }}
          persist-credentials: true
      - name: Configure Terraform plugin cache directory
        run: |
          echo "TF_PLUGIN_CACHE_DIR=${RUNNER_TEMP}/terraform-plugin-cache" >> "${GITHUB_ENV}"
      - name: Cache Terraform providers
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: terraform-provider-cache-${{ runner.os }}-${{ inputs.terraform-version }}-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: terraform-provider-cache-${{ runner.os }}-${{ inputs.terraform-version }}-
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd  # v3.1.2
        with:
          terraform_version: ${{ inputs.terraform-version }}
      - name: Install Terragrunt
        if: inputs.terragrunt-working-directories != null
        uses: dceoy/setup-terragrunt@1cbef4029fa29d03260e3572cd1df1d45fd3f290  # v2.0.0
        with:
          terragrunt-version: ${{ inputs.terragrunt-version }}
      - name: Upgrade Terraform lock files
        env:
          TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON: ${{ inputs.terraform-working-directory-to-version-tf-json }}
          TERRAGRUNT_WORKING_DIRECTORIES: ${{ inputs.terragrunt-working-directories }}
          TERRAFORM_WORKING_DIRECTORIES: ${{ inputs.terraform-working-directories }}
          TERRAFORM_INIT: terraform init -backend=false -upgrade -reconfigure && rm -rf .terraform
          TERRAGRUNT_INIT: terragrunt init --non-interactive -backend=false -upgrade -reconfigure && rm -rf .terragrunt-cache
        run: |
          if [[ -n "${TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON}" ]]; then
            jq -r "to_entries[] | \"cp \\(.value) \\(.key) && cd \\(.key) && ${TERRAFORM_INIT} && rm -f \$(basename \\(.value))\"" <<< "${TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON}" \
              | xargs -I{} -t bash -c '{}'
            jq -r 'keys[]' <<< "${TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON}" \
              | xargs -I{} git ls-files -- "{}/${TERRAFORM_LOCK_FILE}" \
              | jq -rRs 'split("\n")[:-1] | "UPDATED_FILES_JSON=\(.)"' \
              | tee -a "${GITHUB_ENV}"
          elif [[ -n "${TERRAGRUNT_WORKING_DIRECTORIES}" ]]; then
            updated_files_txt="$(mktemp)"
            IFS=$' \n\t' read -r -a terragrunt_dirs <<< "${TERRAGRUNT_WORKING_DIRECTORIES//$'\n'/ }"
            git ls-files -- "${terragrunt_dirs[@]/%//${TERRAFORM_LOCK_FILE}}" > "${updated_files_txt}"
            xargs dirname < "${updated_files_txt}" \
              | xargs -I{} -t bash -c \
                "cd {} && mv terragrunt.hcl _ && grep -A 10 '^terraform {' _ > terragrunt.hcl && ${TERRAGRUNT_INIT} && mv _ terragrunt.hcl"
            jq -rRs 'split("\n")[:-1] | "UPDATED_FILES_JSON=\(.)"' "${updated_files_txt}" \
              | tee -a "${GITHUB_ENV}"
            rm -f "${updated_files_txt}"
          else
            tr ' ' '\n' <<< "${TERRAFORM_WORKING_DIRECTORIES}" \
              | xargs -I{} -t bash -c "cd {} && ${TERRAFORM_INIT}"
            IFS=$' \n\t' read -r -a terraform_dirs <<< "${TERRAFORM_WORKING_DIRECTORIES//$'\n'/ }"
            git ls-files -- "${terraform_dirs[@]/%//${TERRAFORM_LOCK_FILE}}" \
              | jq -rRs 'split("\n")[:-1] | "UPDATED_FILES_JSON=\(.)"' \
              | tee -a "${GITHUB_ENV}"
          fi
      - name: Validate the code using terraform validate
        env:
          TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON: ${{ inputs.terraform-working-directory-to-version-tf-json }}
          TERRAGRUNT_WORKING_DIRECTORIES: ${{ inputs.terragrunt-working-directories }}
          TERRAFORM_WORKING_DIRECTORIES: ${{ inputs.terraform-working-directories }}
          TERRAFORM_VALIDATE: terraform init -backend=false && terraform validate && rm -rf .terraform
          TERRAGRUNT_VALIDATE: terragrunt init --non-interactive -backend=false && terragrunt validate && rm -rf .terragrunt-cache
        run: |
          if [[ -n "${TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON}" ]]; then
            jq -r 'values[]' <<< "${TERRAFORM_WORKING_DIRECTORY_TO_VERSION_TF_JSON}" \
              | xargs dirname \
              | sort -u \
              | xargs -I{} -t bash -c "cd {} && ${TERRAFORM_VALIDATE}"
          elif [[ -n "${TERRAGRUNT_WORKING_DIRECTORIES}" ]]; then
            IFS=$' \n\t' read -r -a terragrunt_dirs <<< "${TERRAGRUNT_WORKING_DIRECTORIES//$'\n'/ }"
            git ls-files -- "${terragrunt_dirs[@]/%//${TERRAFORM_LOCK_FILE}}" \
              | xargs dirname \
              | xargs -I{} -t bash -c \
                "cd {} && mv terragrunt.hcl _ && grep -A 10 '^terraform {' _ > terragrunt.hcl && ${TERRAGRUNT_VALIDATE} && mv _ terragrunt.hcl"
          else
            tr ' ' '\n' <<< "${TERRAFORM_WORKING_DIRECTORIES}" \
              | xargs -I{} -t bash -c "cd {} && ${TERRAFORM_VALIDATE}"
          fi
      - name: Commit and push the changes
        if: (! inputs.create-pr)
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5  # v9.1.4
        with:
          add: ${{ env.UPDATED_FILES_JSON }}
          message: ${{ env.COMMIT_MESSAGE }}
          push: true
          github_token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
      - name: Detect changed files and create a pull request
        if: inputs.create-pr
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0  # v8.1.0
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          commit-message: ${{ env.COMMIT_MESSAGE }}
          title: ${{ env.COMMIT_MESSAGE }}
          branch: autopr/${{ github.head_ref || github.ref_name }}
          labels: automated pr
          body: |
            This PR contains the following updates:

            - ${{ env.COMMIT_MESSAGE }}

            This PR has been generated by
            [${{ github.workflow_ref }}](https://github.com/${{ github.repository }}/).
          delete-branch: true
          draft: false
