---
name: Lint for TOML
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      go-version:
        required: false
        type: string
        description: Go version to use
        default: stable
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-slim
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install tomll
        run: |
          curl -sS https://api.github.com/repos/pelletier/go-toml/releases/latest \
            | jq -r '.assets[].browser_download_url' \
            | grep -e "/tomll_.*_linux_$([[ "$(uname -m)" == 'x86_64' ]] && echo 'amd64' || echo 'arm64')\.tar\.xz$" \
            | xargs -t curl -sSL -o /tmp/tomll.tar.xz
          sudo tar xvf /tmp/tomll.tar.xz -C /usr/local/bin --remove-files
      - name: Execute tomllint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f -name '*.toml' -print0 | xargs -0 -t tomll
