---
name: Lint for TOML
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      go-version:
        required: false
        type: string
        description: Go version to use
        default: stable
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: ${{ inputs.go-version }}
          cache: false
      - name: Install tomll
        run: >
          go install github.com/pelletier/go-toml/v2/cmd/tomll@latest
      - name: Execute tomllint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f -name '*.toml' -print0 | xargs -0 -t tomll
