---
name: Lint and security scan for TypeScript
on:
  workflow_call:
    inputs:
      package-path:
        required: false
        type: string
        description: Path to a TypeScript project
        default: .
      node-version:
        required: false
        type: string
        description: Node.js version to use
        default: latest
      use-prettier:
        required: false
        type: boolean
        description: Use Prettier to format code
        default: true
      prettier-glob:
        required: false
        type: string
        description: Glob pattern for Prettier to format
        default: '**/*.{js,jsx,ts,tsx,css,scss,html,md}'
      use-react:
        required: false
        type: boolean
        description: Include React specific plugins and configurations
        default: true
      use-tsc:
        required: false
        type: boolean
        description: Use TypeScript to check types
        default: true
      audit:
        required: false
        type: boolean
        description: Fix known security issues with the installed packages
        default: true
      additional-npm-packages:
        required: false
        type: string
        description: Additional NPM packages to install
        default: null
      runs-on:
        required: false
        type: string
        description: GitHub Actions runner to use
        default: ubuntu-slim
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint-and-scan:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Detect the package manager
        working-directory: ${{ inputs.package-path }}
        run: |
          {
            if [[ -f package-lock.json ]]; then
              echo 'PACKAGE_LOCK_FILE=package-lock.json'
              echo 'PACKAGE_MANAGER=npm'
            elif [[ -f pnpm-lock.yaml ]]; then
              echo 'PACKAGE_LOCK_FILE=pnpm-lock.yaml'
              echo 'PACKAGE_MANAGER=pnpm'
            elif [[ -f yarn.lock ]]; then
              echo 'PACKAGE_LOCK_FILE=yarn.lock'
              echo 'PACKAGE_MANAGER=yarn'
            else
              echo 'PACKAGE_LOCK_FILE='
              echo 'PACKAGE_MANAGER='
            fi
          } | tee -a "${GITHUB_ENV}"
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install dependencies
        env:
          ADDITIONAL_NPM_PACKAGES: ${{ inputs.additional-npm-packages }}
        working-directory: ${{ inputs.package-path }}
        run: |
          case "${PACKAGE_MANAGER:-}" in
            pnpm )
              npm install -g pnpm
              pnpm install --frozen-lockfile
              pnpm add --save-dev \
                eslint \
                eslint-plugin-security \
                typescript \
                @typescript-eslint/eslint-plugin \
                @typescript-eslint/parser \
                ${{ inputs.use-react && 'eslint-plugin-react eslint-plugin-react-hooks' || '' }} \
                ${{ inputs.use-prettier && 'eslint-config-prettier eslint-plugin-prettier' || '' }}
              ;;
            yarn )
              npm install -g yarn
              yarn install --frozen-lockfile
              yarn add --dev \
                eslint \
                eslint-plugin-security \
                typescript \
                @typescript-eslint/eslint-plugin \
                @typescript-eslint/parser \
                ${{ inputs.use-react && 'eslint-plugin-react eslint-plugin-react-hooks' || '' }} \
                ${{ inputs.use-prettier && 'eslint-config-prettier eslint-plugin-prettier' || '' }}
              ;;
            * )
              if [[ -f package-lock.json ]]; then
                npm ci
              elif [[ -f package.json ]]; then
                npm install
              else
                npm upgrade -g
              fi
              npm install --save-dev \
                eslint \
                eslint-plugin-security \
                typescript \
                @typescript-eslint/eslint-plugin \
                @typescript-eslint/parser \
                ${{ inputs.use-react && 'eslint-plugin-react eslint-plugin-react-hooks' || '' }} \
                ${{ inputs.use-prettier && 'eslint-config-prettier eslint-plugin-prettier' || '' }}
              ;;
          esac
          for p in $(tr ' ' '\n' <<< "${ADDITIONAL_NPM_PACKAGES}"); do
            if [[ -n "${p}" ]]; then
              case "${PACKAGE_MANAGER:-}" in
                pnpm )
                  pnpm add --save-dev "${p}"
                  ;;
                yarn )
                  yarn add --dev "${p}"
                  ;;
                * )
                  npm install --save-dev "${p}"
                  ;;
              esac
            fi
          done
          echo "PATH=${PWD}/node_modules/.bin:${PATH}" >> "${GITHUB_ENV}"
      - name: Run ESLint
        working-directory: ${{ inputs.package-path }}
        run: >
          eslint --ext .js,.jsx,.ts,.tsx --no-error-on-unmatched-pattern .
      - name: Check formatting with Prettier
        if: inputs.use-prettier
        working-directory: ${{ inputs.package-path }}
        env:
          PRETTIER_GLOB: ${{ inputs.prettier-glob }}
        run: >
          prettier --check "${PRETTIER_GLOB}"
      - name: Check types with TypeScript
        if: inputs.use-tsc
        working-directory: ${{ inputs.package-path }}
        run: >
          tsc --noEmit
      - name: Run security audit
        if: inputs.audit
        working-directory: ${{ inputs.package-path }}
        run: |
          case "${PACKAGE_MANAGER:-}" in
            pnpm )
              pnpm audit
              ;;
            yarn )
              yarn audit
              ;;
            * )
              npm audit
              ;;
          esac
