---
name: Formatting for TypeScript
on:
  workflow_call:
    inputs:
      package-path:
        required: false
        type: string
        description: Path to a TypeScript project
        default: .
      node-version:
        required: false
        type: string
        description: Node.js version to use
        default: latest
      use-prettier:
        required: false
        type: boolean
        description: Use Prettier to format code
        default: true
      prettier-glob:
        required: false
        type: string
        description: Glob pattern for Prettier to format
        default: '**/*.{js,jsx,ts,tsx,css,scss,html,md}'
      use-eslint:
        required: false
        type: boolean
        description: Use ESLint to format code
        default: true
      lint-before-pr:
        required: false
        type: boolean
        description: Run lint before creating a pull request
        default: true
      audit:
        required: false
        type: boolean
        description: Fix known security issues with the installed packages
        default: true
      additional-npm-packages:
        required: false
        type: string
        description: Additional NPM packages to install
        default: null
      runs-on:
        required: false
        type: string
        description: GitHub Actions runner to use
        default: ubuntu-latest
    secrets:
      GH_TOKEN:
        required: false
        description: GitHub token
permissions:
  contents: write
  pull-requests: write
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  format-and-pr:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Detect the package manager
        working-directory: ${{ inputs.package-path }}
        run: |
          {
            if [[ -f package-lock.json ]]; then
              echo 'PACKAGE_LOCK_FILE=package-lock.json'
              echo 'PACKAGE_MANAGER=npm'
            elif [[ -f pnpm-lock.yaml ]]; then
              echo 'PACKAGE_LOCK_FILE=pnpm-lock.yaml'
              echo 'PACKAGE_MANAGER=pnpm'
            elif [[ -f yarn.lock ]]; then
              echo 'PACKAGE_LOCK_FILE=yarn.lock'
              echo 'PACKAGE_MANAGER=yarn'
            else
              echo 'PACKAGE_LOCK_FILE='
              echo 'PACKAGE_MANAGER='
            fi
          } | tee -a "${GITHUB_ENV}"
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install dependencies
        env:
          ADDITIONAL_NPM_PACKAGES: ${{ inputs.additional-npm-packages }}
        working-directory: ${{ inputs.package-path }}
        run: |
          case "${PACKAGE_MANAGER:-}" in
            pnpm )
              npm install -g pnpm
              pnpm install --frozen-lockfile
              pnpm add --save-dev \
                ${{ inputs.use-eslint && 'eslint typescript @typescript-eslint/eslint-plugin @typescript-eslint/parser' || '' }} \
                ${{ inputs.use-prettier && 'prettier eslint-config-prettier' || '' }}
              ;;
            yarn )
              npm install -g yarn
              yarn install --frozen-lockfile
              yarn add --dev \
                ${{ inputs.use-eslint && 'eslint typescript @typescript-eslint/eslint-plugin @typescript-eslint/parser' || '' }} \
                ${{ inputs.use-prettier && 'prettier eslint-config-prettier' || '' }}
              ;;
            * )
              if [[ -f package-lock.json ]]; then
                npm ci
              elif [[ -f package.json ]]; then
                npm install
              else
                npm upgrade -g
              fi
              npm install --save-dev \
                ${{ inputs.use-eslint && 'eslint typescript @typescript-eslint/eslint-plugin @typescript-eslint/parser' || '' }} \
                ${{ inputs.use-prettier && 'prettier eslint-config-prettier' || '' }}
              ;;
          esac
          for p in $(echo "${ADDITIONAL_NPM_PACKAGES}" | tr ' ' '\n'); do
            if [[ -n "${p}" ]]; then
              case "${PACKAGE_MANAGER:-}" in
                yarn )
                  yarn add --dev "${p}"
                  ;;
                pnpm )
                  pnpm add --save-dev "${p}"
                  ;;
                * )
                  npm install --save-dev "${p}"
                  ;;
              esac
            fi
          done
          echo "PATH=${PWD}/node_modules/.bin:${PATH}" >> "${GITHUB_ENV}"
      - name: Fix security vulnerabilities
        if: inputs.audit
        working-directory: ${{ inputs.package-path }}
        run: |
          case "${PACKAGE_MANAGER:-}" in
            pnpm )
              pnpm audit --fix && pnpm install || :
              ;;
            npm )
              npm audit fix || :
              ;;
          esac
      - name: Format the code using Prettier
        if: inputs.use-prettier
        working-directory: ${{ inputs.package-path }}
        env:
          PRETTIER_GLOB: ${{ inputs.prettier-glob }}
        run: >
          prettier --write "${PRETTIER_GLOB}"
      - name: Lint the code using ESLint
        if: inputs.use-eslint && inputs.lint-before-pr
        working-directory: ${{ inputs.package-path }}
        run: >
          eslint --ext .js,.jsx,.ts,.tsx --fix --no-error-on-unmatched-pattern .
      - name: Create output parameters
        id: parameters
        env:
          USE_PRETTIER: ${{ inputs.use-prettier }}
          USE_ESLINT: ${{ inputs.use-eslint }}
          PR_BASE: ${{ github.head_ref || github.ref_name }}
        run: |
          if ${USE_PRETTIER} && ${USE_ESLINT}; then
            formatters='prettier and eslint'
          elif ${USE_PRETTIER}; then
            formatters='prettier'
          elif ${USE_ESLINT}; then
            formatters='eslint'
          else
            formatters='TypeScript formatters'
          fi
          {
            echo "commit_message=Reformat TypeScript code using ${formatters} and fix security vulnerabilities"
            echo "pr_base=${PR_BASE}"
            echo "pr_branch=automatedpr/${PR_BASE}"
          } >> "${GITHUB_OUTPUT}"
      - name: Detect changed files and create a pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725  # v8.0.0
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          commit-message: ${{ steps.parameters.outputs.commit_message }}
          title: ${{ steps.parameters.outputs.commit_message }}
          branch: ${{ steps.parameters.outputs.pr_branch }}
          base: ${{ steps.parameters.outputs.pr_base }}
          labels: automated pr
          body: |
            This PR contains the following updates:

            - ${{ steps.parameters.outputs.commit_message }}

            This PR has been generated by
            [${{ github.workflow_ref }}](https://github.com/${{ github.repository }}/).
          delete-branch: true
          draft: false
