---
name: Lint for YAML
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      yamllint-config-data:
        required: false
        type: string
        description: Configuration data for yamllint
        default: '{"extends": "relaxed", "rules": {"line-length": "disable"}}'
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-slim
permissions:
  contents: read
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install yamllint
        run: >
          pip install -U --no-cache-dir yamllint
      - name: Execute yamllint
        env:
          YAMLLINT_CONFIG_DATA: ${{ inputs.yamllint-config-data }}
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.yml' -o -name '*.yaml' \) -print0
          | xargs -0 -t yamllint --config-data="${YAMLLINT_CONFIG_DATA}"
